*{
    margin: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-image: url("img/jumbo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 1rem;
    align-items:  center;
    color: white;


}
nav{
    height: 3rem;
    padding-top: 0.5rem;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}
p{
   margin-top: 2rem;
}
.barra-link{   
    height: 100%;
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    
}

.barra-link ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.barra-link ul li{
    padding-right: 1rem;

}
.barra-link ul li a{
    
    color: white;
    text-decoration: none;  

}
.buttons-header{
    margin-top: 1rem;
}
.white-b{
    background-color: white;
    padding: 0.6em;
    font-size: 0.7rem;
    border-radius: 25px;
    border:1px solid white;
    align-self: center;
}
.black-b{
    background-color: rgb(21, 21, 21);
    padding: 0.6em;
    font-size: 0.7rem;
    border-radius: 25px;
    border:1px solid rgb(21, 21, 21);
    align-self: center;
    color: white;
}
button:hover{
    background-color: red;
}
.main-header{
    text-align: center;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.container-1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.7em;

    
}
.cvariant{
    flex-direction: row-reverse;
    background-color: rgb(241, 241, 241);
}
.end-wave{
    transform: rotate(180deg);
}
.photo{
    max-height: 15rem;
    width: 40%;
    flex-shrink: 1;  
    flex-grow: 
}


.description{
    
    width: 20%;
    flex-shrink: 1;
}

.wave-container{
    display: flex;
    flex-direction: column;
}

.container-3{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.container-3 section p, h1{
    margin-top: 1rem;
    text-align: center;
}
.pronto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;
    min-height: 5rem;
    text-align: center;
    background-image: url("img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat; 
}
.big-photo{
   
    height: 20rem;
    width: 80%;

}
.blu-b{
    background-color: rgb(122, 170, 253);
    padding: 0.6em;
    font-size: 0.7rem;
    border-radius: 25px;
    border:1px solid rgb(122, 170, 253);
    align-self: center;
    color: white;
}
footer{
    background-color:  rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.7rem;
    gap: 2rem;
    padding: 3rem 2rem;
}
.your-place{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    flex-shrink: 1;
}
.your-place img{
    max-height: 0.8rem;
}
.your-place h3{
    font-size: 1.4rem;
}

.your-place .social{
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.info{
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.info ul {
    list-style: none;
    flex: 1 1 auto;
}
.info ul li{
    margin-top: 1em;
}
.info-list li:first-child, h3{
    color: rgb(122, 170, 253);
}

.bottom-footer{
    background-color: rgb(61, 61, 61);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 4rem;
    
}
.footer-bar{
    padding-top: 0.5rem;
    width: 100%;    
    margin-inline: 2rem;
    border-top: 2px solid rgb(122, 170, 253);
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}