*{
    margin: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-image: url("img/jumbo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 1rem;
    align-items:  center;
    color: white;


}
nav{
    height: 3rem;
    padding-top: 0.5rem;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}
.barra-link{   
    height: 100%;
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    
}
.logo-discord{
    max-height: 100%;
    width: 90px;
    flex-shrink: 1;
    background-image: url("img/logo.svg");
    background-size: cover;

}
.barra-link ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.barra-link ul li{
    padding-right: 1rem;

}
.barra-link ul li a{
    
    color: white;
    text-decoration: none;  

}
.buttons-header{
    margin-top: 1rem;
}
.white-b{
    background-color: white;
    padding: 0.3em;
    font-size: 0.7rem;
    border-radius: 25px;
    border:1px solid white;
    align-self: center;
}
.black-b{
    background-color: rgb(21, 21, 21);
    padding: 0.3em;
    font-size: 0.7rem;
    border-radius: 25px;
    border:1px solid rgb(21, 21, 21);
    align-self: center;
    color: white;
}
.main-header{
    text-align: center;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.container-1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.7em;

    
}
.cvariant{
    flex-direction: row-reverse;
}
.photo{
    max-height: 15rem;
    width: 40%;
    flex-shrink: 1;  
    flex-grow: 
}


.description{
    
    width: 30%;
    flex-shrink: 1;
}

.wave img{
    max-height: 3rem ;
    width: 100%;

}

.container-3{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(172, 59, 59);
}
.big-photo{
   
    height: 20rem;
    width: 60%;

}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    padding-bottom: 1rem;


}
.colonnina, .colonnona{
    height: 100px;
    border: 2px solid black;
    flex: 0 1 auto;
    flex-grow: 1;
}
.colonnina{
    background-color: aquamarine;
    width: 10%;
}
.colonnona{
    background-color: rgb(1, 177, 118);
    width: 30%;
    
}
.bottom-footer{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.footer-bar{
    background-color: yellow;
    width: 70%;
    height: 50%;
}